* {
    font-family: verdana;
}

.top {
    background-image: url("/field-clouds-sky-earth-46160.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    margin-top: 0;
    margin-bottom: 0;
}

.message {
    width: 500px;
    height: 200px;
    color: white;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: 450px;
}

.middle {
    background-image: url("/forest-tree.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    margin-top: 0;
    margin-bottom: 0;
}

.bottom {
    background-image: url("/mail.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: white;
    background-color: black;
    display: inline;
    padding: 10px;
}

.nav-item {
    color: black;
    background-color: white;
    display: inline;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: black;
}
