* {
    font-family: verdana;
}

.top {
    background-image: url("/field-clouds-sky-earth-46160.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.middle {
    background-image: url("/field-clouds-sky-earth-46160.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom {
    background-image: url("/field-clouds-sky-earth-46160.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    background-color: black;
    display: inline;
    padding-top: 20px;
}

.nav-item {
    color: black;
    background-color: white;
    display: inline;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: black;
}
