* {font-family: arial;}

h1 {color: white; background-color: black; display: inline;}

.nav-item {color: black; background-color: white; display: inline;}
.nav-list {color: black; background-color: white; display: inline;}

.nav {text-align: center; font-family: arial;}

.footer {text-align: center; font-size: 10px;}
